.main{
  background-color: bisque;
  background-size:cover;
  height:100vh;
  margin-top:-100px;
  padding-top:100px;
}
.nostal{
  display:block;
  height:90px;
  width:420px;
  margin:0 auto;
  margin-top:80px;
  color:white;
  text-align:center;
}
.decades,.fads{
  font-size:18px;
}
/* .homeheader{
  display:flex;
  flex-direction:column;
  height:46px;
  width:100%;
  top:0;
  position:fixed;
  color:white;
  font-size:18px;
} */